/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html, body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #DEF2F1;
    min-height: 600px;
}